header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 4rem;
}

header a:hover {
    cursor: pointer;
}

header h1 {
    color: white;
    font-size: 1.5em;
    margin: 0;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

header ul li {
    list-style: none;
    margin: 0;
    padding: 1rem;
    color: white;
}